body, select, textarea {
  color: rgba(0, 0, 0, 0.993) ;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.65;
}

pre{
	color: blue;
}

span {
	color: blue;
}
input {
	color: blue;
}

a{
color: inherit;
text-decoration: none;
}


input[type="button"], button, .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #e7f3f1;
  border-radius: 4px;
  border: 0;
  color: #b5e61d !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}